html {
  --active-color: #00acdc;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.header {
  display: flex;
  position: relative;
  width: 100%;

  align-items: center;
  justify-content: flex-end;
}

.list {
  position: relative;
  right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  display: inline-block;
  line-height: 60px;
  height: 60px;
  text-decoration: none;
  color: #000;
  margin-left: 20px;
}

.nav__link:hover {
  color: var(--active-color);
}

.img_link {
  position: absolute;
  left: 50px;
  top: 10px;
}

.is-active {
  color: var(--active-color);
  position: relative;
}

.is-active::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 37px;
  height: 4px;

  background-color: var(--active-color);
  border-radius: 8px;
}
